body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #d4d7f3;
  align-items: center;
  color: #000;
  border-bottom: 2px solid #fff;
}

img {
  height: 50px;
}

.nav-logo {
  font-size: 2rem;
  margin: 0.5rem;
}

#nav-toggle {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 30px;
  height: 30px;
}

#nav-toggle img {
  width: 26px;
  height: 70px;
  position: relative;
  right: 6px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  /* flex-direction: column; */
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  /* position: relative; */
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: rgb(15, 15, 15);
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: cornflowerblue;
}

.arrow {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-left: 6px;
  margin-bottom: 2px;
  border-right: 2px solid rgba(19, 18, 18, 0.8);
  border-bottom: 2px solid rgba(26, 25, 25, 0.8);
  transform: rotate(45deg);
}

.navbar-links > ul li ul:hover .arrow {
  transform: rotate(222.5deg);
  transition: 0.5s;
}

/* for submenu */

.navbar-links > ul li ul {
  display: none;
}

.navbar-links > ul li:hover ul {
  position: absolute;
  /* background-color: rgb(253, 246, 183); */
  display: flex;
  flex-direction: row;
}

/* Profile */

.profile-btn {
  display: block;
  background-color: black;
  color: #fff;
  padding: 1em;
  margin-right: 1em;
}

#signout > a {
  display: block;
}

.profile-links {
  display: none;
}

.profile-links li {
  list-style: none;
}

.profile-links li a {
  display: flex;
  text-decoration: none;
  color: rgb(15, 15, 15);
  padding: 0.5rem;
}

.profile-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0.5em;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #nav-toggle {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links > ul li:hover ul {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: right;
  }

  .navbar-links ul li a {
    padding: 0.5em 1em;
  }

  .navbar-links.active {
    display: flex;
  }
  /* Profile Menu */

  .profile-btn {
    display: none;
  }

  .navbar-profile {
    width: 100%;
    display: none;
  }

  .navbar-profile ul {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 0;
    float: right;
    width: 100%;
  }

  .navbar-profile ul li.plink {
    display: none;
  }

  .navbar-profile li a {
    float: right;
  }

  .navbar-profile.active {
    display: flex;
    text-align: right;
  }
}
